
<ul class="about_gallery">
    <li class="about_gallery-foto"><img src="" alt=""></li>
    <li class="about_gallery-foto"><img src="" alt=""></li>
</ul>

<ul>
    <li><h2>about</h2></li>
    <li><h3>Best Barbershop in your city</h3></li>
    <li><p>If you want to add more confidence to your image, you should definitely visit us.</p></li>
    <li><p>We are a team that never stops at what has been achieved and are thirsty for changes. And when you fall into the hands of our master, you will never be the same again. We are a team that is always "on the same wave" with clients. Therefore, we are always ready to improve everyone who comes to us!</p></li>
    <li><button type="button">Online-booking</button></li>
</ul>

