<ul>
  <li class="decor_line"></li>
  <li class="why_pretitle">For true enjoyers of the atmosphere</li>
</ul>

<h2>Our barbers</h2>

<ul>
  <li>
    <picture>
      <source
        srcset="
          /images/desktop/barber1-1x.jpg 1x,
          /images/desktop/barber1-2x.jpg 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="/images/tab/barber1-1x.jpg 1x, /images/tab/barber1-2x.jpg 2x"
        media="(min-width:768px)"
      />
      <source
        srcset="
          /images/mobile/barber1-1x.jpg 1x,
          /images/mobile/barber1-2x.jpg 2x
        "
        media="(min-width:480px)"
      />
      <img
        class="team_foto"
        src="/images/mobile/barber1-1x.jpg"
        alt="Bearded barber service the bearded client"
      />
    </picture>

    <h4>John Smith</h4>
    <p>Extreme Barber</p>
  </li>

  <li>
    <picture>
      <source
        srcset="
          /images/desktop/barber2-1x.jpg 1x,
          /images/desktop/barber2-2x.jpg 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="/images/tab/barber2-1x.jpg 1x, /images/tab/barber2-2x.jpg 2x"
        media="(min-width:768px)"
      />
      <source
        srcset="
          /images/mobile/barber2-1x.jpg 1x,
          /images/mobile/barber2-2x.jpg 2x
        "
        media="(min-width:480px)"
      />
      <img
        class="team_foto"
        src="/images/mobile/barber2-1x.jpg"
        alt="Bearded barber service the bearded client"
      />
    </picture>
    <h4>John Smith</h4>
    <p>Extreme Barber</p>
  </li>

  <li>
    <picture>
      <source
        srcset="
          /images/desktop/barber3-1x.jpg 1x,
          /images/desktop/barber3-2x.jpg 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="/images/tab/barber3-1x.jpg 1x, /images/tab/barber3-2x.jpg 2x"
        media="(min-width:768px)"
      />
      <source
        srcset="
          /images/mobile/barber3-1x.jpg 1x,
          /images/mobile/barber3-2x.jpg 2x
        "
        media="(min-width:480px)"
      />
      <img
        class="team_foto"
        src="/images/mobile/barber3-1x.jpg"
        alt="Bearded barber service the bearded client"
      />
    </picture>
    <h4>John Smith</h4>
    <p>Extreme Barber</p>
  </li>
</ul>
