<footer class="container footer">
  <h2 class="footer__title">Online-booking</h2>
  <form class="footer_form" autocomplete="off">
    <label class="form__label" for="name" autofocus>Name*</label>
    <input class="form__input" type="text" name="name" id="name" />

    <label class="form__label" for="tel">Phone*</label>
    <input class="form__input" type="tel" name="tel" id="tel" />

    <label class="form__label" for="comment">Message</label>
    <textarea
      class="form__area"
      type="text"
      name="comment"
      id="comment"
      rows="2"
    ></textarea>

    <button type="submit" class="footer__subscribtion">
      Send<svg class="footer__send">
        <use href="./images/icons.svg#icon-send"></use>
      </svg>
    </button>
  </form>

  <h2 class="footer__title">Contacts</h2>
  <address>
    <div>
      <ul class="footer__nav">
        <li>
          <a
            class="address link"
            href="https://goo.gl/maps/ewdzD51WunYtRSSt5"
            target="_blank"
            rel="noopener noreferrer"
            >st. Vasilkovaya, 7A Kiev, 08132</a
          >
        </li>
        <li>
          <a class="contact link" href="mailto:barbershop@email.com"
            >barbershop@email.com</a
          >
        </li>
        <li>
          <a class="contact link last" href="tel:+380441111111"
            >+38 044 111 11 11</a
          >
        </li>
      </ul>
    </div>
  </address>

  <ul>
    <li class="footer__decor_line"></li>
    <li class="footer__schedule">Working hours</li>
    <p class="footer__schedule-time">Every day from 9:00 to 22:00</p>
  </ul>

  <p class="copyright">Copyright 2020</p>
  <ul>
    <li class="footer__line_social"></li>
    <li>Instagram</li>
    <li>Youtube</li>
</ul>
</footer>
